* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/* HEADER */

/* header--> */
.top {
    display: flex;
    background-color: rgb(255, 154, 2);
    align-items: center;
    justify-content: start;
    height: 6rem;
    font-size: 2rem;

}



.myName {
    padding: 0rem 1rem;
    font-size: 3rem;
}

.logoInterface {
    padding: 0rem 1rem 0rem 2rem;
    height: 4rem;
}

/* nav */

.nav a.active {
  color: rgb(255, 154, 2);
  font-weight: bold;
  border-bottom: 2px solid rgb(255, 154, 2);
}

.nav ul {
    display: flex;
    list-style: none;
    background-color: #343434;
    /* padding: 0.5rem; */
    /* visibility: visible; */
    /* opacity: 1; */
    justify-content: start;
    font-weight: 400;
    letter-spacing: -0.5px;
    line-height: 1.5;     


    


}

.nav ul li a {
    display: inline-block;
    padding: 0.5rem 2rem;
    text-decoration: none;
    color: aliceblue;
    /* font-family: "Caveat"; */
    font-size: 1.5rem;
}

.nav ul li a:hover {
    color: rgb(255, 154, 2);
    background-color: rgb(69, 69, 69);

}



/* MAIN */

main {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto auto auto;
}

/* Section 1 */

h1 {
    grid-column: 1/ span 2;
    padding: 1rem 2rem;
}

/* Section 2 */

.about_me {
    margin: 0rem 2rem;
    border-radius: 1.2rem;
    box-shadow: 0rem 0rem 1rem #343434;
}

h2 {
    text-align: center;
    background-color: #343434;
    color: #ffffff;
    border-radius: 1rem 1rem 0rem 0rem;
    padding: 1rem;

}

h3 {
    text-align: start;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    padding: 1.5rem;
    font-style: normal;


}

.about_me ul {
    padding: 2rem 3rem;
}

/* Section 3 */

.myPhoto {
    display: flex;
    width: 15rem;
    border-radius: 2rem;
    padding: 1.5rem;
    margin: 0 auto;
}

/* Section 4 */

/* part 1 */
.section_3 {
    grid-column: 1/ span 2;
    padding: 2rem 2rem 1rem 2rem;
}

.contaner {
    box-shadow: 0rem 0rem 1rem #343434;
    border-radius: 2rem;
}

.contaner h2 {
    text-align: center;
}

/* part 2 */

.button_up ul {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    list-style: none;
    justify-content: center;
    padding: 1rem 0;
}

.button_up button {
    font-size: 1rem;
    background-color: black;
    color: white;
    border-radius: 0.4rem;
    padding: 0.4rem;
    width: 17rem; 
}

.button_down ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2rem;
    gap: 1rem;
}

#total-credits {
    
    text-align: center;
    padding: 1rem 1rem 0rem 1rem ;
}

#completed-credits {
    text-align: center;

    padding: 0rem 0rem 1rem 0rem;
    margin: 1rem;
}




/* part 3 ------------------------------------------------------------------------------------*/

.courses {
      display: grid;
      grid-template-columns: repeat(3, 1fr); 
      justify-items: center;
    }


.courses div {
    margin: 0.5rem 0rem;
    text-align: center;
    width: 80%;
    padding: 1rem;
    font-size: 1.3rem;
    background-color: #343434;
    color: white;
    border-radius: 0.4rem;
}

.course {
  background: #ccc;
  padding: 1rem;
  margin: 0.5rem 0;
  text-align: center;
}

.course.completed {
  background-color: #343434; 
  border-left: 5px solid rgb(255, 154, 2);
  font-weight: bold;
  position: relative;

}
.course.completed::after {
  content: "✓ Completed";
  color: green;
  font-size: 0.8rem;
  margin-left: 10px;
}



/* part 4--- */

.second-line {
  display: flex;
  justify-content: center; 
}

.second-line hr {
  width: 87%;            
  border: none;
  height: 1px;
  background-color: #828282; 
}

/* FOOTER */

.base {
    background-color: #343434;
    color: white;
    text-align: center;
    padding: 1rem;
}

.social-icons  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.social-icons img {
    width: 3rem;
    height: 5rem;
    /* padding: 0rem 0rem 1rem 0rem; */
    margin: 0rem 1.5rem;
    cursor: pointer;
    transition: transform 0.3s ease;

    
}

.social-icons img:hover {
  transform: scale(1.1); 
}

/* ************************************ */
.mobile-menu {
    visibility: hidden;
}



/* media query */

@media (max-width:768px) {
    /* header */
    .top {
        justify-content: space-evenly;

        img {
            padding: 0rem;
        }

        span {
            margin-left: 0rem;
            font-size: 1.5rem;
        }
    }

    .nav ul{
        visibility: hidden;
        opacity: 0;
        height: 0;
        transition: visibility .5s ease-in-out, opacity .5s linear, height .5s linear;
        background-color: #343434;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2.5rem;
        padding: 2rem;
    }

    /* MAIN */

    main {
    display: flex;
    flex-direction: column;
}

    .about_me {
    margin: 0rem 2rem 2rem 2rem;
}


    .section_3 {
        grid-column: 1/2;
    } */


    /* SECION 3 */

    .button_down .ul {
        display: flex;
    }

    .button_down li {
        margin: 2rem 0;
    }

    /* secion 4 */
    .button_up button {
    width: 4.5rem; 
    }

    .button_up ul {
    gap: 0.5rem;
}
    /*Section 4.(courses)  */
.courses {
      display: flex;
      flex-direction: column;
      align-items: center;
    }


.courses div {
    margin: 0.5rem 0rem;
    width: 14rem;
    padding: 1rem;
    font-size: 1.3rem;
}

.mobile-menu {
        visibility: visible;

        img {
            height: 5rem;
            box-shadow: none;
            cursor: pointer;
            width: 3rem;
        }
    }

    .mostrar ul{
        visibility: visible;
        opacity: 1;
        height: auto;
        text-align: center;
        
    }

    #total-credits {
        height: 3rem;
    }

        
}

    